* {
  box-sizing: border-box;
}

body {
  font-family: "Poppins", sans-serif;
  min-height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
}

button {
  background-color: #47a386;
  color: #fff;
  border: none;
  border-radius: 5px;
  padding: 10px 25px;
  box-shadow: 0 2px rgba(0, 0, 0, 0.2);
  cursor: pointer;
  font-size: 14px;
}

button:hover {
  opacity: 0.9;
}

.modal-container {
  display: flex;
  align-items: center;
  justify-content: center;
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background-color: rgba(0, 0, 0, 0.3);
  opacity: 0;
  pointer-events: none;
}

.modal-container.show {
  pointer-events: auto;
  opacity: 1;
}

.modal {
  background-color: #fff;
  border-radius: 5px;
  padding: 30px 50px;
  box-shadow: rgba(50, 50, 93, 0.25) 0px 50px 100px -20px,
    rgba(0, 0, 0, 0.3) 0px 30px 60px -30px,
    rgba(10, 37, 64, 0.35) 0px -2px 6px 0px inset;

  width: 500px;
  max-width: 100%;
  text-align: center;
}

.modal h1 {
  margin: 0;
}

.modal p {
  font-size: 14px;
  opacity: 0.7;
}
